<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">RavenDB with ASP.net MVC</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="icon-home icon-white"></i>
                            Home
                        </a>
                    </li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Student/Add">Add Student</a>        
                            </li>
                            <li>
                                <a href="/Student">Query Student</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
