@model IEnumerable<FirstStepMVC.Models.StudentViewModel>

@{
    ViewBag.Title = "title";
}

<h2>Students</h2>

@foreach (var student in Model)
{
    <div class="row">
        <div class="span6">
            <span class="span1">@student.FirstName</span>
            <span class="span1">@student.LastName</span>
            <span class="span2">@student.DateOfBirth</span>
            <span class="span1">@student.Gender</span>
        </div>
    </div>
}